body {
  background: #121212;
  color: white;
  font-family: Arial;
  text-align: center;
}

.card {
  background: #1e1e1e;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}

button {
  padding: 8px 12px;
  margin-top: 10px;
}